p {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.odd {
    font-size: 24px;
}
#abc {
    color: rgb(0, 0, 255);
    font-size: 36px;
}
#efg {
    background-color: hsl(120, 100%, 75%);
    font-weight: bold;
    font-size: 24px;
  }